.idea
__pycache__
.DS_Store
.vs
*.dll
*.exe
tests/bouncing_ball-keeponly.csv
tests/bouncing_ball-keeponly.fmu
tests/bouncing_ball-no-tl.csv
tests/bouncing_ball-no-tl.fmu
tests/bouncing_ball-removed.csv
tests/bouncing_ball-removed.fmu
tests/bouncing_ball-renamed.csv
tests/bouncing_ball-renamed.fmu
tests/bouncing_ball-win32.fmu
remoting/out
remoting/build
dist
tests/containers/bouncing_ball/bouncing
tests/containers/bouncing_ball/bouncing.fmu
tests/containers/bouncing_ball/bouncing_auto.fmu
tests/containers/bouncing_ball/bouncing_unlinked.fmu
container/build-win64
