.idea
__pycache__
.DS_Store
.vs
*.dll
*.exe
tests/operations/bouncing_ball-keeponly.csv
tests/operations/bouncing_ball-keeponly.fmu
tests/operations/bouncing_ball-no-tl.csv
tests/operations/bouncing_ball-no-tl.fmu
tests/operations/bouncing_ball-removed.csv
tests/operations/bouncing_ball-removed.fmu
tests/operations/bouncing_ball-renamed.csv
tests/operations/bouncing_ball-renamed.fmu
tests/bouncing_ball-win32.fmu
remoting/out
remoting/build
dist
tests/containers/bouncing_ball/bouncing
tests/containers/bouncing_ball/bouncing.fmu
tests/containers/bouncing_ball/bouncing_auto.fmu
tests/containers/bouncing_ball/bouncing_unlinked.fmu
container/build-win64
container/build
tests/operations/bouncing_ball.csv
fmu_manipulation_toolbox/resources/darwin64/client_sm.dylib
fmu_manipulation_toolbox/resources/darwin64/container.dylib
fmu_manipulation_toolbox/resources/darwin64/server_sm
tests/containers/bouncing_ball/bouncing.json
tests/containers/arch/hierarchical.fmu
tests/containers/arch/flat.fmu
tests/containers/arch/reversed.fmu
tests/containers/ssp/bouncing.fmu
tests/containers/ssp/bouncing
